<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Agenda Médica</a>
    <div>
      <a class="btn btn-light btn-sm me-2" href="/">Inicio</a>
      <a class="btn btn-light btn-sm me-2" href="/agenda">Agenda</a>
      <a class="btn btn-light btn-sm me-2" href="/pacientes">Pacientes</a>
      <a class="btn btn-light btn-sm" href="/historial">Historial</a>
    </div>
  </div>
</nav>